html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
*,
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  clear: both; }

.filter-accent {
  width: 100%;
  height: 100%;
  background: rgba(108, 121, 146, 0.85);
  position: absolute; }

.filter-blue {
  width: 100%;
  height: 100%;
  background: rgba(168, 218, 245, 0.85);
  position: absolute; }

.filter-black {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

i {
  padding-right: 12px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: auto;
  text-align: center;
  top: 0;
  -webkit-box-shadow: 0px 1px 2px 0.5px #5a595c;
  box-shadow: 0px 1px 2px 0.5px #5a595c;
  font-size: 14px; }
  .navbar ul li {
    display: inline-block;
    padding: 4px 10px; }
    .navbar ul li a {
      display: block;
      padding: 12px 16px;
      text-decoration: none;
      color: #ffffff; }
      .navbar ul li a:hover {
        color: #6c7992; }

.header {
  width: 100%;
  background-color: #6c7992;
  margin: auto;
  position: relative; }
  .header .banner {
    width: 100%;
    height: 100%;
    background-image: url("../image/Code-ChristopherGower-Unsplash@3882x2584.jpg");
    position: absolute;
    background-attachment: fixed;
    background-size: cover; }
  .header .alert {
    background-color: rgba(168, 218, 245, 0.5);
    color: #ffffff;
    top: 15%;
    width: 75%;
    display: block;
    -webkit-box-shadow: 0px 1px 1px 0.5px #5a595c;
    box-shadow: 0px 1px 1px 0.5px #5a595c;
    padding: 12px 24px;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    z-index: 50; }
    .header .alert:hover {
      cursor: pointer; }
  .header h1 {
    font-size: 74px;
    color: #ffffff;
    position: absolute;
    top: 30%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bold; }
  .header p {
    font-size: 16px;
    color: #e6e6e6;
    position: absolute;
    top: 40%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 21px; }
  .header ul {
    position: absolute;
    top: 75%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px; }
    .header ul li {
      display: inline-block;
      border: 1.25px solid #ffffff;
      margin-right: 12px;
      border-radius: 2.5px;
      color: #ffffff; }
      .header ul li:hover {
        border: 1.25px solid #abdaf5;
        background-color: #abdaf5; }
      .header ul li a {
        display: block;
        padding: 14px;
        text-decoration: none;
        color: #ffffff; }
        .header ul li a:hover {
          color: #6c7992; }
  .header .scroll-down {
    text-decoration: none;
    width: 36px;
    height: 36px;
    font-size: 32px;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin: auto; }
    .header .scroll-down a {
      color: #ffffff; }
    .header .scroll-down:hover {
      cursor: pointer; }

.secondary {
  width: 100%;
  background-color: #dad9d8;
  padding: 108px 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .secondary h2 {
    font-size: 48px;
    padding-bottom: 2px;
    font-weight: bold;
    float: left; }
  .secondary .title-line {
    border-top: 1.25px solid #5a595c;
    width: 100%;
    padding-bottom: 18px; }
  .secondary span {
    float: right;
    padding-top: 16px;
    line-height: 48px;
    font-size: 16px; }
  .secondary h3 {
    font-size: 32px;
    padding-bottom: 24px; }
  .secondary h4 {
    padding-bottom: 8px;
    font-size: 18px; }
  .secondary ul li {
    padding: 16px 0px;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .secondary ul li p {
      font-size: 16px;
      line-height: 21px;
      padding-bottom: 21px; }
  .secondary ul a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    border: 1.25px solid #000000;
    border-radius: 2.5px;
    background-color: #6c7992;
    padding: 10px 14px;
    margin: 16px 6px;
    margin-left: 0px; }
    .secondary ul a:hover {
      border: 1.25px solid #abdaf5;
      background-color: #abdaf5;
      color: #6c7992; }
  .secondary .achievement {
    width: 100%; }
    .secondary .achievement p {
      background-color: rgba(128, 128, 131, 0.1);
      padding: 24px;
      margin-bottom: 24px;
      border: 1.25px solid #000000; }
      .secondary .achievement p:hover {
        background-color: #808083;
        color: #ffffff; }
    .secondary .achievement .mb-0 {
      margin-bottom: 0px; }
  .secondary .headshot {
    margin-left: 10%;
    background-color: rgba(128, 128, 131, 0.1);
    padding: 24px; }
    .secondary .headshot img {
      max-width: 100%; }
    .secondary .headshot a {
      display: block;
      border: 1.25px solid #000000;
      border-radius: 2.5px;
      background-color: #6c7992;
      padding: 0px 0px;
      margin: 0px 0px;
      margin-left: 0px; }
      .secondary .headshot a:hover {
        border: 1.25px solid #abdaf5;
        background-color: #6c7992; }
  .secondary .digital-marketing-headshot {
    margin-right: 10%;
    margin-left: 0%; }
  .secondary p {
    font-size: 16px;
    color: #5a595c; }
  .secondary .education {
    background-color: rgba(128, 128, 131, 0.1);
    padding: 24px; }
    .secondary .education table {
      width: 100%; }
      .secondary .education table td {
        padding: 4px 0px;
        line-height: 18px;
        font-size: 16px;
        color: #5a595c; }
        .secondary .education table td a {
          margin: 0px;
          padding: 10px 14px;
          display: block;
          margin-bottom: 28px; }
        .secondary .education table td .mb-0 {
          margin-bottom: 0px; }
      .secondary .education table .education-school {
        font-size: 18px;
        padding-top: 12px;
        color: #000000; }
      .secondary .education table .education-time {
        color: #000000;
        padding: 4px 0px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1.25px solid #808083; }
  .secondary .insight {
    background-color: rgba(128, 128, 131, 0.1);
    padding: 24px;
    margin-left: 0px; }
    .secondary .insight table {
      width: 100%; }
      .secondary .insight table .insight-caption {
        padding-bottom: 28px; }
      .secondary .insight table td {
        padding: 4px 0px;
        line-height: 18px;
        font-size: 16px;
        color: #5a595c; }
        .secondary .insight table td a {
          margin: 0px;
          padding: 10px 14px;
          display: block;
          margin-bottom: 28px; }
      .secondary .insight table .insight-number {
        font-size: 32px;
        padding-top: 12px;
        color: #000000; }
      .secondary .insight table .insight-title {
        color: #000000;
        padding: 4px 0px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1.25px solid #808083; }
  .secondary .progress-board {
    padding-left: 10%; }
    .secondary .progress-board .progress {
      height: 21px;
      overflow: hidden;
      background-color: rgba(128, 128, 131, 0.1);
      border-radius: 2.5px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      position: relative;
      margin-bottom: 8px; }
    .secondary .progress-board .progress-bar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      text-align: center;
      background-color: #6c7992;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
      -webkit-transition: width 3s ease;
      -o-transition: width 3s ease;
      transition: width 3s ease;
      border: 1.25px solid #000000; }
  .secondary .digital-marketing-skills {
    width: 100%;
    margin: 0px 0px;
    margin-bottom: 36px;
    float: left;
    text-align: left; }
    .secondary .digital-marketing-skills li {
      width: 100%;
      float: none;
      margin: 0% 0%;
      padding: 0px; }
      .secondary .digital-marketing-skills li a {
        display: inline-block;
        font-size: 14px;
        padding: 10px 14px;
        margin: 16px 6px;
        margin-left: 0px;
        color: #000000;
        border: 1.25px solid #6c7992;
        background-color: #dad9d8;
        border-radius: 2.5px;
        text-decoration: none; }
        .secondary .digital-marketing-skills li a:hover {
          background-color: #6c7992;
          color: #ffffff;
          cursor: default; }

.aims {
  margin: 0 auto;
  background: #5a595c;
  padding: 54px 5%;
  position: relative;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  color: #ffffff; }
  .aims h2 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 48px;
    font-weight: bold; }
  .aims ul li {
    width: 27.3333%;
    margin: 0px 3%;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: auto;
    position: relative; }
    .aims ul li ul li {
      width: 100%; }
  .aims .aims-avatar {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px; }
  .aims .aims-comment {
    margin-left: 56px; }
    .aims .aims-comment h4 {
      font-size: 24px;
      padding-bottom: 24px; }
    .aims .aims-comment p {
      font-size: 16px;
      text-align: left;
      line-height: 21px;
      color: #bac7c9; }

.secondary-front-end {
  background: #dad9d8;
  width: 100%;
  padding: 108px 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .secondary-front-end .title-line {
    border-bottom: 1.25px solid #5a595c;
    margin-bottom: 18px;
    width: 100%; }
  .secondary-front-end p {
    font-size: 16px;
    color: #5a595c;
    line-height: 21px;
    padding-bottom: 21px; }
  .secondary-front-end .front-end-courses {
    width: 50%; }
  .secondary-front-end .front-end-skills {
    width: 50%;
    margin: 0px 0px;
    margin-bottom: 36px;
    float: right;
    text-align: right; }
    .secondary-front-end .front-end-skills li {
      width: 100%;
      float: none;
      margin: 0% 0%; }
      .secondary-front-end .front-end-skills li a {
        display: inline-block;
        font-size: 14px;
        padding: 10px 14px;
        margin: 16px 6px;
        margin-right: 0px;
        color: #6c7992;
        border: 1.25px solid #6c7992;
        border-radius: 2.5px;
        text-decoration: none; }
        .secondary-front-end .front-end-skills li a:hover {
          background-color: #6c7992;
          color: #ffffff;
          cursor: default; }
  .secondary-front-end h2 {
    font-size: 48px;
    padding-bottom: 2px;
    font-weight: bold;
    float: left; }
  .secondary-front-end span {
    float: right;
    padding-top: 16px;
    line-height: 48px;
    font-size: 16px; }
  .secondary-front-end h3 {
    font-size: 32px;
    padding-bottom: 24px; }
  .secondary-front-end .thumbnail {
    border: 1.25px solid #808083;
    padding: 8px;
    border-radius: 2.5px;
    background-color: #ffffff; }
    .secondary-front-end .thumbnail img {
      max-width: 100%;
      height: 206px; }
  .secondary-front-end a {
    text-decoration: none; }
    .secondary-front-end a h4 {
      padding: 8px 0px;
      font-size: 18px;
      color: #6c7992;
      font-weight: bold; }
    .secondary-front-end a:hover {
      text-decoration: underline; }
  .secondary-front-end .front-end-sections {
    background-color: rgba(128, 128, 131, 0.1);
    padding: 24px;
    margin: 0px -10%; }
  .secondary-front-end .m-24 {
    margin-bottom: 24px; }
  .secondary-front-end ul {
    margin: 0px -1%;
    margin-bottom: 0px; }
  .secondary-front-end li {
    width: 23%;
    float: left;
    margin: 0px 1%;
    font-size: 18px; }
    .secondary-front-end li p {
      line-height: 21px;
      font-size: 16px;
      color: #5a595c;
      height: 63px;
      padding-bottom: 0px; }

.accent {
  margin-top: -12px;
  background: #6c7992;
  width: 100%;
  padding: 108px 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff; }
  .accent .title-line {
    border-bottom: 1.25px solid #ffffff;
    margin-bottom: 18px;
    width: 100%; }
  .accent ul {
    margin: 0px -1%;
    margin-bottom: 36px; }
  .accent li {
    width: 31.33323%;
    float: left;
    margin: 0px 1%;
    font-size: 18px; }
    .accent li p {
      line-height: 21px;
      font-size: 16px;
      color: #e6e6e6;
      height: 84px; }
  .accent .graphic-design-skills {
    width: 50%;
    margin: 0px 0px;
    margin-bottom: 36px;
    float: left;
    text-align: left; }
    .accent .graphic-design-skills li {
      width: 100%;
      float: none;
      margin: 0% 0%; }
      .accent .graphic-design-skills li a {
        display: inline-block;
        font-size: 14px;
        padding: 10px 14px;
        margin: 16px 6px;
        margin-right: 0px;
        color: #ffffff;
        border: 1.25px solid #ffffff;
        border-radius: 2.5px;
        text-decoration: none; }
        .accent .graphic-design-skills li a:hover {
          background-color: #abdaf5;
          color: #6c7992;
          border: 1.25px solid #abdaf5;
          cursor: default; }
  .accent h2 {
    font-size: 48px;
    padding-bottom: 2px;
    font-weight: bold;
    float: left; }
  .accent span {
    float: right;
    padding-top: 16px;
    line-height: 48px;
    font-size: 16px; }
  .accent h3 {
    font-size: 32px;
    padding-bottom: 24px; }
  .accent .thumbnail {
    border: 1.25px solid #808083;
    padding: 8px;
    border-radius: 2.5px; }
    .accent .thumbnail img {
      max-width: 100%;
      height: 206px; }
  .accent a {
    text-decoration: none; }
    .accent a h4 {
      padding: 8px 0px;
      font-size: 18px;
      color: #6c7992;
      font-weight: bold; }
    .accent a:hover {
      text-decoration: underline; }
  .accent .grid {
    max-width: 100%;
    border: 1px solid #bac7c9; }
    .accent .grid .projects-title {
      width: 100%;
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      color: #000000;
      font-weight: bold;
      border: 1.25px solid #bac7c9;
      background-color: #bac7c9; }
    .accent .grid .caption {
      height: 76px;
      line-height: 21px;
      font-size: 16px;
      color: #ffffff;
      padding: 8px 12px;
      border: 1.25px solid #bac7c9; }
    .accent .grid .filter-blue {
      opacity: 0;
      -webkit-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      z-index: 50;
      top: 0;
      left: 0; }
      .accent .grid .filter-blue:hover {
        opacity: 1; }
      .accent .grid .filter-blue:before {
        position: absolute;
        content: "Click To Link";
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        display: block;
        font-size: 18px;
        color: #000000;
        font-weight: bold; }
    .accent .grid img {
      max-width: 100%;
      margin-bottom: -3px;
      border: 1.25px solid #bac7c9; }
  .accent .grid:after {
    content: '';
    display: block;
    clear: both; }
  .accent .grid-sizer,
  .accent .grid-item {
    width: 31.3%;
    position: relative;
    margin: 12px 1%; }
  .accent .grid-item {
    float: left; }
  .accent .grid-item--width2 {
    width: 66.6%; }
  .accent .grid-item:hover {
    cursor: pointer; }
