//
// Page
//

html,
*,
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.filter-accent {
    width: 100%;
    height: 100%;
    background: rgba(108, 121, 146, 0.85);
    position: absolute;
}

.filter-blue {
    width: 100%;
    height: 100%;
    background: rgba(168, 218, 245, 0.85);
    position: absolute;
}

.filter-black {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

i {
    padding-right: 12px;
}

// Nav Bar
.navbar {
    background-color: rgba($color: $secondary-black, $alpha: 0.5);
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: auto;
    text-align: center;
    top: 0;
    box-shadow: 0px 1px 2px 0.5px $secondary-darkgray;
    font-size: $font-size-small;

    ul {
        li {
            display: inline-block;
            padding: 4px 10px;

            a {
                display: block;
                padding: 12px 16px;
                text-decoration: none;
                color: $accent-white;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}

// Header
.header {
    width: 100%;
    background-color: $accent;
    margin: auto;
    position: relative;

    .banner {
        width: 100%;
        height: 100%;
        background-image: url("../image/Code-ChristopherGower-Unsplash@3882x2584.jpg");
        position: absolute;
        background-attachment: fixed;
        background-size: cover;
    }

    .alert {
        background-color: rgba(168, 218, 245, 0.5);
        color: $accent-white;
        top: 15%;
        width: 75%;
        display: block;
        box-shadow: 0px 1px 1px 0.5px $secondary-darkgray;
        padding: 12px 24px;
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        font-size: $font-size-medium;
        z-index: 50;

        &:hover {
            cursor: pointer;
        }
    }

    h1 {
        font-size: $font-size-xxl;
        color: $accent-white;
        position: absolute;
        top: 30%;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        font-weight: bold;
    }

    p {
        font-size: $font-size-medium;
        color: $accent-gray;
        position: absolute;
        top: 40%;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        line-height: 21px;
    }

    ul {
        position: absolute;
        top: 75%;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        font-size: $font-size-medium;

        li {
            display: inline-block;
            border: 1.25px solid $accent-white;
            margin-right: 12px;
            border-radius: 2.5px;
            color: $accent-white;

            &:hover {
                border: 1.25px solid $accent-blue;
                background-color: $accent-blue;
            }

            a {
                display: block;
                padding: 14px;
                text-decoration: none;
                color: $accent-white;

                &:hover {
                    color: $accent;
                }
            }
        }
    }

    .scroll-down {
        text-decoration: none;
        width: 36px;
        height: 36px;
        font-size: $font-size-large;
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        margin: auto;

        a {
            color: $accent-white;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

// About Me
.secondary {
    width: 100%;
    background-color: $secondary;
    padding: 48px 10%;
    box-sizing: border-box;

    h2 {
        font-size: $font-size-xl;
        padding-bottom: 2px;
        font-weight: bold;
        float: left;
    }

    .title-line {
        border-top: 1.25px solid $secondary-darkgray;
        width: 100%;
        padding-bottom: 18px;
    }

    .headshot {
        margin-left: 10%;
        background-color: rgba($secondary-lightgray, 0.1);
        padding: 24px;
    }
    .digital-marketing-headshot {
        margin-left:0%;
    }

    span {
        float: right;
        padding-top: 6px;
        line-height: 36px;
        font-size: $font-size-medium;
    }

    h3 {
        font-size: $font-size-large;
        padding-bottom: 24px;
    }

    h4 {
        padding-bottom: 8px;
        font-size: $font-size-lm;
    }

    ul {
        li {
            padding: 16px 0px;
            float: left;
            width: 50%;
            box-sizing: border-box;

            p {
                font-size: $font-size-medium;
                line-height: 21px;
                padding-bottom: 21px;
            }
        }

        a {
            display: block;
            font-size: $font-size-small;
            text-decoration: none;
            color: $accent-white;
            display: inline-block;
            border: 1.25px solid $secondary-black;
            border-radius: 2.5px;
            background-color: $accent;
            padding: 10px 14px;
            margin: 16px 6px;
            margin-left: 0px;

            &:hover {
                border: 1.25px solid $accent-blue;
                background-color: $accent-blue;
                color: $accent;
            }
        }
    }

    p {
        font-size: $font-size-medium;
        color: $secondary-darkgray;
    }

    // Education Section
    .education {
        background-color: rgba($secondary-lightgray, 0.1);
        padding: 24px;

        table {
            width: 100%;

            td {
                padding: 4px 0px;
                line-height: 18px;
                font-size: $font-size-medium;
                color: $secondary-darkgray;

                a {
                    margin: 0px;
                    padding: 10px 14px;
                }
            }

            .education-school {
                font-size: $font-size-lm;
                padding-top: 12px;
                color: $secondary-black;
            }

            .education-time {
                color: $secondary-black;
                padding: 4px 0px;
                font-size: $font-size-small;
                font-weight: bold;
                border-bottom: 1.25px solid $secondary-lightgray;
            }
        }
    }

    .digital-marketing-education {
        margin-left:10%;
    }

    // Experience Progress Bar
    .progress-board {
        padding-left: 10%;

        .progress {
            height: 21px;
            overflow: hidden;
            background-color: rgba($secondary-lightgray, 0.1);
            border-radius: 2.5px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            position: relative;
            margin-bottom: 8px;
        }

        .progress-bar {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0;
            font-size: $font-size-small;
            line-height: 18px;
            color: $accent-white;
            text-align: center;
            background-color: $accent;
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            transition: width 3s ease;
            border: 1.25px solid $secondary-black;
        }
    }
    .digital-marketing-progress-board {
        padding-left:0%;
    }
}

// Front-End
.accent-white {
    background: $accent-white;
    width: 100%;
    padding: 48px 10%;
    box-sizing: border-box;

    .title-line {
        border-bottom: 1.25px solid $secondary-darkgray;
        margin-bottom: 18px;
        width: 100%;
    }

    p {
        font-size: $font-size-medium;
        color: $secondary-darkgray;
        line-height: 21px;
        padding-bottom: 21px;
    }

    ul {
        margin: 0px -1%;
        margin-bottom: 0px;
    }

    li {
        width: 31.33323%;
        float: left;
        margin: 0px 1%;
        font-size: $font-size-lm;

        p {
            line-height: 21px;
            font-size: $font-size-medium;
            color: $secondary-darkgray;
            height: 63px;
            padding-bottom: 0px;
        }
    }

    .front-end-courses {
        width: 50%;
    }

    // Skill Tags
    .front-end-skills {
        width: 50%;
        margin: 0px 0px;
        margin-bottom: 36px;
        float: right;
        text-align: right;

        li {
            width: 100%;
            float: none;
            margin: 0% 0%;

            a {
                display: inline-block;
                font-size: $font-size-small;
                padding: 10px 14px;
                margin: 16px 6px;
                margin-right: 0px;
                color: $accent;
                border: 1.25px solid $accent;
                border-radius: 2.5px;
                text-decoration: none;

                &:hover {
                    background-color: $accent;
                    color: $accent-white;
                    cursor: default;
                }
            }
        }
    }

    h2 {
        font-size: $font-size-xl;
        padding-bottom: 2px;
        font-weight: bold;
        float: left;
    }

    span {
        float: right;
        padding-top: 6px;
        line-height: 36px;
        font-size: $font-size-medium;
    }

    h3 {
        font-size: $font-size-large;
        padding-bottom: 24px;
    }

    .thumbnail {
        border: 1.25px solid $secondary-lightgray;
        padding: 8px;
        border-radius: 2.5px;
        background-color: $accent-white;

        img {
            max-width: 100%;
            height: 206px;
        }
    }

    a {
        text-decoration: none;

        h4 {
            padding: 8px 0px;
            font-size: $font-size-lm;
            color: $accent;
            font-weight: bold;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .front-end-sections {
        background-color: rgba($secondary-lightgray, 0.1);
        padding: 24px;
    }

    .m-24 {
        margin-bottom: 24px;
    }
}

// Graphic Design
.accent {
    margin-top: -12px;
    background: $accent;
    width: 100%;
    padding: 48px 10%;
    box-sizing: border-box;
    color: $accent-white;

    .title-line {
        border-bottom: 1.25px solid $accent-white;
        margin-bottom: 18px;
        width: 100%;
    }

    ul {
        margin: 0px -1%;
        margin-bottom: 36px;
    }

    li {
        width: 31.33323%;
        float: left;
        margin: 0px 1%;
        font-size: $font-size-lm;

        p {
            line-height: 21px;
            font-size: $font-size-medium;
            color: $accent-gray;
            height: 84px;
        }
    }

    // Skill Tags
    .graphic-design-skills {
        width: 50%;
        margin: 0px 0px;
        margin-bottom: 36px;
        float: left;
        text-align: left;

        li {
            width: 100%;
            float: none;
            margin: 0% 0%;

            a {
                display: inline-block;
                font-size: $font-size-small;
                padding: 10px 14px;
                margin: 16px 6px;
                margin-right: 0px;
                color: $accent-white;
                border: 1.25px solid $accent-white;
                border-radius: 2.5px;
                text-decoration: none;

                &:hover {
                    background-color: $accent-blue;
                    color: $accent;
                    border: 1.25px solid $accent-blue;
                    cursor: default;
                }
            }
        }
    }

    h2 {
        font-size: $font-size-xl;
        padding-bottom: 2px;
        font-weight: bold;
        float: left;
    }

    span {
        float: right;
        padding-top: 6px;
        line-height: 36px;
        font-size: $font-size-medium;
    }

    h3 {
        font-size: $font-size-large;
        padding-bottom: 24px;
    }

    .thumbnail {
        border: 1.25px solid $secondary-lightgray;
        padding: 8px;
        border-radius: 2.5px;

        img {
            max-width: 100%;
            height: 206px;
        }
    }

    a {
        text-decoration: none;

        h4 {
            padding: 8px 0px;
            font-size: $font-size-lm;
            color: $accent;
            font-weight: bold;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    // Projects
    // Projects / Grid
    .grid {
        max-width: 100%;
        // Project / Projects
        .projects-title {
            width:100%;
            text-align: center;
            height: 40px;
            line-height: 40px;
            font-size:$font-size-lm;
            color:$accent;
            font-weight: bold;
            border-top: 1.25px solid $accent-white;
            border-bottom:1.25px solid $accent-white;
            background-color:$accent-white;
        }
        .caption {
            height:76px;
            line-height: 21px;
            font-size:$font-size-medium;
            color:$accent-white;
            padding:8px 12px;
        }
        .filter-blue {
            opacity: 0;
            transition: 0.25s;
            z-index:50;

            &:hover {
                opacity: 1;
            }

            &:before {
                position: absolute;
                content:"Click To Link";
                top:50%;
                left:0;
                right:0;
                text-align: center;
                margin:auto;
                display:block;
                font-size:$font-size-lm;
                color:$secondary-black;
                font-weight: bold;
            }
        }
        img {
            max-width: 100%;
            margin-bottom:-3px;
        }
    }

    // Projects / Clearfix
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    // Projects / Grid-Item
    .grid-sizer,
    .grid-item {
        width: 33.3%;
        position: relative;
    }

    .grid-item {
        float: left;
        border: 1.25px solid $accent-white;
        border-radius: 2.5px;
    }

    .grid-item--width2 {
        width: 66.6%;
    }

    // .grid-item--gigante {
    //     width: 100%;
    //     height: 480px;
    // }

    .grid-item:hover {
        cursor: pointer;
    }
}