// 
// Variables
// 

// Color System
$accent: #559AC8;
$purple: #8A82CC;
$pink: #FFA782;
$yellow: #F5D105;
$white: #ffffff;

// Font Size
// .title
$font-size-xxl: 40px;
// .status
$font-size-xl: 36px;
// .object-title
$font-size-large: 24px;
// .selector .shortcut
$font-size-lm: 18px;
// .object-area .info-time .info-address .info-phone .tag
$font-size-medium: 16px;
// .author .credit
$font-size-small: 14px;