// 
// Variables
// 

// Color System
// Accent
$accent: #6c7992;
// When accent is applied to the background color,
// only the following colors can be used.
$accent-white:#ffffff;
$accent-blue:#abdaf5;
$accent-gray:#e6e6e6;
$accent-extra:#bac7c9;
// Secondary
$secondary: #dad9d8;
// When secondary is applied to the background color,
// only the following colors can be used.
$secondary-black:#000000;
$secondary-darkgray:#5a595c;
$secondary-lightgray:#808083;
$secondary-red:#8e1b47;

// Font Size
$font-size-xxl: 48px;
$font-size-xl: 36px;
$font-size-large: 24px;
$font-size-lm:18px;
$font-size-medium: 16px;
$font-size-small: 14px;